
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Hakkimizda</h2>*@

<h1 class="my-4">
    <small>Hakkımızda</small>
</h1>
<!-- Blog Post -->
<div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title"></h2>

            <p class="card-text">
              
                2019 Yılında  günceli ve yenilikleri takip ederek bunları okuyucularımıza hızlı ve kolay bir şekilde ulaştırmayı hedefledik ve bunu gerçekleştiriyoruz.Biz sizinle yaşıyoruz.Beğenmediğimiz hiç bir çalışmayı size sunmuyor bunun için ücret talep etmiyoruz. Yaptığımız her çalışmanın öncelikle size fayda sağlamasını sonrasında ise bize güç kazandırmasını kendimize ilke ediniyoruz. Zaman zaman yaptığımız duyuruları takip etmek için bizi sosyal medya hesaplarımızdan takip edebilirsiniz.

                Bizi seçtiğiniz için yada değer kılıp bu metni okuduğunuz için size teşekkür ederiz.
                <ul>

                    <li>
                        facebook.com/nurblog
                    </li>
                    <li>
                        youtube.com/nurblog
                    </li>
                    <li>
                        twitter.com/nurblog
                    </li>
                    <li>
                        instagram.com/nurblog
                    </li>
                </ul>


                </p>
                
            </div>
            <div class="card-footer text-muted">
            </div>

    <div class="row">
        <div class="col-md-8 text-center">
            <div class="pagedList pagination">
                
            </div>
        </div>
    </div>
</div>
